#body {
	background-color:  #ffffff ;
	display: flex;
	margin-top: -5vh;
	padding-top: 5vh;
	align-items: stretch;
}

@media(max-width:850px) {
	#body {
		flex-direction: column;
	}

	#lutz {
		box-shadow: 0px 0px 0px #666666;
	}
}

@media(min-width:851px) {
	#body {
		flex-direction: row;
	}

	#lutz {
		width: 40%;
		box-shadow: 5px 0px 15px #666666;
	}
}

#lutz {
	background-color: rgba(1, 152, 117, 0.3)  ;
}

#lutz img { 
	width: 200px;
	margin-top: 20px;
	border-radius: 20px;
		
}

#lutz-content {
	padding: 20px;
	text-align: center;
	color: black;
}


#lutz-content img {
	width: 10%;
}

#lutz-content p {
	text-align: justify;
	
}

#content {
	background-color: white;
}

#logo-irimas {
	display: flex;
	width: 40%;
}